<div class="container">
<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title><strong>Qualifications</strong></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
    <br>
    <mat-card-subtitle>University of Exeter 2014-2018</mat-card-subtitle>
    <p>MEng Mechanical Engineering - <strong>2:1</strong></p>
    <mat-divider></mat-divider>
    <br>
    <mat-card-subtitle>Abbeyfield School</mat-card-subtitle>
    <p>A-Levels: Maths, Further Maths, Physics, Religious Studies - <strong>A*ABC</strong></p>
    <p>GCSEs - <strong>A*A*AAAAABB</strong></p>
    
  </mat-card-content>
</mat-card>
</div>
