@use '@angular/material' as mat;

@include mat.toolbar-overrides((
    standard-height: 5em
  ));

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    width: 50%;
  margin: 3em auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
