<div class="container">
<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title><strong>About Me</strong></mat-card-title>
      <img mat-card-lg-image src="assets/images/Headshot.jpg"  alt="Image of Rob Bentley">
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <p>I am a fullstack software developer based in the London/Surrey area. My specialisms are .NET C# for backend and Angular for frontend. I also regularly use SQL Server and Typescript as well as many Azure based technologies.</p>
    <p>I am currently working for HighFive, an AI subsidiary of Horwich Farrelly, where I am fully immersed in Azure/.NET technology and make use of LLM agentic flows with langgraph to achieve complex tasks.</p>
    <p>Outside of work, I play ultimate frisbee and juggle. I have also got into both volleyball and speedcubing in recent years.</p>
  </mat-card-content>
</mat-card>
</div>
